/****头尾样式****/
/* #header{
  width:100%;
  height:260px;
} */
/* #footer{
  width:100%;
  height:260px;
} */
/****顶部位置****/
.location{
  width:1200px;
  height:45px;
  line-height:45px;
  overflow:hidden;
  margin:0 auto;
  position:relative;
}
.box{
  width:1200px;
  height:1155px;
  margin:10px auto;
  overflow:hidden; 
} 
.box-left{
  width:310px;
  float:left;
  margin-left:30px;
}
.box-left-title{
  width:300px;
  height:30px;
  font-size:20px;
  background-color: #E50150;
  color: #fff;
  text-align:center;
  vertical-align:middle;
  display:block;
}
.box-left li{
  width:300px;
  margin-top:25px;
}
.box-left-list>li>img{
  display:block;
  cursor:pointer;
}
.box-left-list>li>h2{
  width:300px;
  height:35px;
  background-color: #ffffff;
  line-height:35px;
  color: #000000;
  font-size:18px;
  font-weight:normal;
}
.box-right{
  float:right;
  padding-top:15px;
  padding-right:30px;
}