/****顶部位置****/
.location{
  width:1200px;
  height:45px;
  line-height:45px;
  overflow:hidden;
  margin:0 auto;
  position:relative;
}
/*****购物车导航*****/
.cart{
  margin: 0 auto 15px auto;
  width: 1198px;
  height: 31px;
  line-height: 31px;
  overflow: hidden;
  border-radius: 10px;
}
.cart-set{
  background-position: left top;
  float: left;
  width: 100%;
  background: url(../img/icons/stepbg.jpg) no-repeat left top;
}
.cart-set .active{
  color: #fff;
}
.cart-set li{
  float: left;
  width: 25%;
  text-align: center;
  font-size: 14px;
}
/*****空的购物车*****/
.cart-kong{
  box-sizing: content-box;
  width: 460px;
  margin: 0 auto;
  height: 145px;
  padding-top: 98px;
  padding-bottom: 98px;
}
.cart-kong-img{
  width: 185px;
  height: 145px;
  float: left;
  margin-right: 25px;
}
.cart-kong>p{
  font-size: 17px;
  line-height: 25px;
  padding-top: 29px;
}
.cart-kong>p>strong{
  display: block;
  font-weight: normal;
}
.cart-kong>p>a{
  border-radius: 0;
  padding: 0;
  font-size: 12px;
  width: 80px;
  height: 30px;
  background-color: #dc5551;
  color: #fff;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  margin-top: 4px;
}
/*****有商品的购物车*****/
.cart-product{
  width: 1198px;
  height:395px;
  margin: 0 auto;
  border-top: 1px solid #cdcdcd;
}
/* 标题 */
.cart-product-title{
  width:1196px;
  height:38px;
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  background-color: #e6e4e5;
}
.cart-product-title>ul>li{
  float:left;
  width: 298px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 38px;
}
/* 内容 */
.cart-product-container{
  width:1196px;
  height:150px;
  border-bottom:1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
}
/* 产品图 */
.cartProduct{
  padding:15px 0;
  padding-left: 20px;
  width:370px;
}
.cartProduct>a{
  float: left;
  width: 118px;
  height: 118px;
  margin-right: 40px;
  border: 1px solid #ccc;
}
.cartProduct>a>img{
  width: 100%;
  height: 100%;
}
.cartProduct>strong{
  color: #e3004f;
  position: relative;
  top:40px;
  text-align: left;
}
.cartProduct>p{
  position: relative;
  top:45px;
}
.cartProduct>p>span{
  color: #e9004f;
}
/* 产品价格 */
.cartPrice{
  position: relative;
  left: 245px;
  color: #e3004f;
  display: inline-block;
}
/* 产品数量 */
.cartInput{
  position: relative;
  left: 480px;
  display: inline;
}
.cartInput>span{
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background: #f0f0f0;
  text-align: center;
}
.cartInput>input{
  width: 25px;
  height: 20px;
  margin: 0 11px;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
  left: 11px;
}
/* 产品移除 */
.cartYichu{
  display: inline;
  float:right;
  position: relative;
  right: 125px;
}
.cartYichu>img{
  width: 15px;
  height:15px;
}
/* 合计 */
.heji{
  width: 1198px;
  height:176px;
  margin: 0px auto 30px auto;
}
.heji-detail{
  float: right;
  width: 340px;
  margin-right: 16px;
  display: inline;
}
.heji-detail>h3{
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  font-weight: normal;
  border-bottom: 1px solid #c7c7c7;
}
.heji-detail>dl{
  width: 340px;
  line-height: 31px;
  position: relative;
  border-bottom: 1px solid #c7c7c7;
}
.heji-detail>dl>dt{
  line-height: 31px;
  position: absolute;
  left: 0px;
  font-weight: normal;
}
.heji-detail>dl>dd{
  line-height: 31px;
  width: 125px;
  text-align: right;
  position: relative;
  padding-left: 215px;
  font-weight: normal;
}
.heji-detail>dl>dd>strong{
  font-weight: normal;
  color: #c7023a;
}
.zongji{
  height: 32px;
  line-height: 32px;
  overflow: hidden;
}
.heji-btn{
  text-align: right;
  padding-top: 14px;
}
.heji-btn>a{
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin-left: 23px;
  background-color: #de5356;
  display: inline-block;
}