/*****顶部位置*****/
.location{
  width:1200px;
  height:45px;
  line-height:45px;
  overflow:hidden;
  margin:0 auto;
  position:relative;
}
/*****中间内容*****/
.content{
  border:none;
  position:relative;
  right:359px;
}
  